* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
ul{
    list-style-type: none; /*sem bolinha na lista (ul)*/
}
.cartao_pokemon .cartao_info .habilidades > ul{
    list-style-type: initial;
}